	<div class="container">
		<div class="row">
			<div id="fh5co-section">
				<div class="col-nineth">
					<div class="row">
						<div class="col-third">
							<div class="col-md-12">
								<span>
									<i><img class='headjpg' src="/images/tianjiao.jpg" alt=""></i>
								</span>
								<div class="desc">
									<h3>刘老师</h3>
									<p>专业的前端就业指导老师.</p>
									<p><a href="#" class="btn btn-primary">联系我</a></p>
								</div>
							</div>
						</div>
						<div class="col-third">
							<div class="col-md-12">
								<span>
									<i><img class='headjpg' src="/images/tianjiao.jpg" alt=""></i>
								</span>
								<div class="desc">
									<h3>刘老师</h3>
									<p>专业的前端就业指导老师.</p>
									<p><a href="#" class="btn btn-primary">联系我</a></p>
								</div>
							</div>
						</div>
						<div class="col-third">
							<div class="col-md-12">
								<span>
									<i><img class='headjpg' src="/images/tianjiao.jpg" alt=""></i>
								</span>
								<div class="desc">
									<h3>刘老师</h3>
									<p>专业的前端就业指导老师.</p>
									<p><a href="#" class="btn btn-primary">联系我</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-forth fh5co-video fh5co-bg" style="background-image: url(/images/image_1.jpg)">
					<a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-video2"></i></a>
						<div class="overlay"></div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="fh5co-bg-section">
		<div class="container">
			<div class="row">
				<div id="fh5co-features-2">
					<div class="col-feature-9">
						<div class="row">
							<div class="col-md-12 fh5co-heading animate-box">
								<h2>为什么选择Yes简历？</h2>
								<p>因为我们更专业。</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-7 col-sm-7 col-md-pull-2 col-sm-pull-2 animate-box" data-animate-effect="fadeInRight">
								<div class="feature-image">
									<img src="/images/work_1.png" alt="work">
								</div>
							</div>
							<div class="col-md-5 col-sm-5">
								<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
									<span class="icon">
										<i class="icon-check"></i>
									</span>
									<div class="feature-copy">
										<h3>专业导师</h3>
										<p>来自一线互联网企业的工程师以及HR，分享自己求职路上的体验和秘诀</p>
									</div>
								</div>

								<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
									<span class="icon">
										<i class="icon-check"></i>
									</span>
									<div class="feature-copy">
										<h3>一对一指导</h3>
										<p>通过通讯软体一对一分析求职者的优势和劣势，提出针对性地简历修改方案以及求职规划</p>
									</div>
								</div>

								<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
									<span class="icon">
										<i class="icon-check"></i>
									</span>
									<div class="feature-copy">
										<h3>模拟面试</h3>
										<p>真实地模拟面试场景加上及时反馈，让你面试不再慌张。</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-feature-3">
						<div id="fh5co-counter" class="fh5co-bg fh5co-counter">
							<div class="row">
								<div class="display-t">
									<div class="display-tc">
										<div class="col-md-12 animate-box">
											<div class="feature-center">
												<span class="counter js-counter" data-from="0" data-to="400" data-speed="5000" data-refresh-interval="50">1</span>
												<span class="counter-label">我们收到的简历</span>

											</div>
										</div>
										<div class="col-md-12 animate-box">
											<div class="feature-center">
												<span class="counter js-counter" data-from="0" data-to="310" data-speed="5000" data-refresh-interval="50">1</span>
												<span class="counter-label">模拟面试次数</span>
											</div>
										</div>
										<div class="col-md-12 animate-box">
											<div class="feature-center">
												<span class="counter js-counter" data-from="0" data-to="42" data-speed="5000" data-refresh-interval="50">1</span>
												<span class="counter-label">入驻指导老师数量</span>
											</div>
										</div>
										<div class="col-md-12 animate-box">
											<div class="feature-center">
												<span class="counter js-counter" data-from="0" data-to="523" data-speed="5000" data-refresh-interval="50">1</span>
												<span class="counter-label">已经受惠用户</span>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	 <!-- <div id="fh5co-portfolio">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Finished Project</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row">
				<div class="project">
					<div class="col-md-8 col-md-push-5 animate-box" data-animate-effect="fadeInLeft">
						<img class="img-responsive" src="/images/work_1.png" alt="work">
					</div>
					<div class="col-md-4 col-md-pull-8 animate-box" data-animate-effect="fadeInRight">
						<div class="mt">
							<h3>Real Project For Real Solutions</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. </p>
							<ul class="list-nav">
								<li><i class="icon-check"></i>Far far away, behind the word</li>
								<li><i class="icon-check"></i>There live the blind texts</li>
								<li><i class="icon-check"></i>Separated they live in bookmarksgrove</li>
								<li><i class="icon-check"></i>Semantics a large language ocean</li>
								<li><i class="icon-check"></i>A small river named Duden</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="project">
					<div class="col-md-8 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
						<img class="img-responsive" src="/images/work_1.png" alt="work">
					</div>
					<div class="col-md-4 animate-box" data-animate-effect="fadeInRight">
						<div class="mt">
							<div>
								<h4><i class="icon-user"></i>Real Project For Real Solutions</h4>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>
							<div>
								<h4><i class="icon-video2"></i>Real Project For Real Solutions</h4>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>
							<div>
								<h4><i class="icon-shield"></i>Real Project For Real Solutions</h4>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>  -->

	 <div id="fh5co-testimonial">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>以往用户</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 animate-box">
					<div class="testimony">
						<blockquote>
							&ldquo;yes简历实在是太棒了，指导老师非常专业，指出了我简历上的瑕疵，让我更好的入职了。我丁希虎愿意死命打CALL&rdquo;
						</blockquote>
						<p class="author"><cite>丁同学</cite></p>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="testimony">
						<blockquote>
							&ldquo; yes简历实在是太棒了，指导老师非常专业，指出了我简历上的瑕疵，让我更好的入职了。我丁希虎愿意死命打CALL&rdquo;
						</blockquote>
						<p class="author"><cite>Dan</cite></p>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="testimony">
						<blockquote>
							&ldquo;yes简历实在是太棒了，指导老师非常专业，指出了我简历上的瑕疵，让我更好的入职了。我丁希虎愿意死命打CALL&rdquo;
						</blockquote>
						<p class="author"><cite>Jane Doe</cite></p>
					</div>
				</div>
			</div>
		</div>
	</div> 


 <div id="fh5co-started">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>入驻成为就业指导老师</h2>
					<p>如果你很有耐心，并且愿意帮助别人，请将邮箱发送给我们，我们稍后会和你联系。</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2">
					<form class="form-inline">
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="email" class="sr-only">Email</label>
								<input type="email" class="form-control" id="email" placeholder="Email">
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<button type="submit" class="btn btn-default btn-block">提交邮箱</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div> 